.workspace-grid {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 90% 10%;
    width: 100%;
    height: 100%;
    /* grid-template-areas:
        "list" "player"
        "bar" "bar"; */
}

.list-space {
    width: 100%;
    height: 100%;
    grid-area: 1/1/2/2;
    background-color: slategray;
}

.player-space {
    width: 100%;
    height: 100%;
    grid-area: 1/2/2/3;
    background-color: black;
}

.bar-space {
    width: 100%;
    height: 100%;
    grid-area: 2/1/3/3;
    background-color: orange;
    text-align: center;
}
