@font-face {
    font-family: playlister-font;
    src: url(Lobster-Regular.ttf);
}

.playlister-logo {
    color: rgb(145, 0, 0);
    font-family: "playlister-font";
}

a:link {
    text-decoration: none;
    color: rgb(145, 0, 0);
}

a:visited {
    text-decoration: none;
    color: rgb(145, 0, 0);
}

a:hover {
    text-decoration: none;
    color: rgb(145, 0, 0);
}

a:active {
    text-decoration: none;
    color: rgb(145, 0, 0);
}
